body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: azure;
    display: flex;
}
img {
    width: 100%;
    height: auto;
}

ul li {
    list-style: none;
}

a {
    color: azure;
    font-size: 2em;
}

.cover {
    max-width: 40vw;
}

.s {
    color: greenyellow;
}

.ig {
    color: palevioletred;
}

.f {
    color: lightskyblue;
}

.y {
    color: orangered;
}